In [2]:
import pandas as pd
from sklearn.metrics import classification_report

In [3]:
df = pd.read_csv("./processed_data/smoking_prediction_eda.csv")
df

,age,waist(cm),eyesight(left),eyesight(right),systolic,relaxation,fasting blood sugar,Cholesterol,triglyceride,HDL,...,AST,ALT,Gtp,dental caries,smoking,BMI,gender_F,gender_M,tartar_N,tartar_Y
0,40,3.38,0.04,0.04,4.75,3.04,3.92,8.96,3.42,3.04,...,0.75,0.79,1.13,0,0,24.973985,1,0,0,1
1,40,3.38,0.01,0.00,4.96,2.92,5.42,8.00,4.79,1.75,...,0.92,0.79,0.75,0,0,23.437500,1,0,0,1
2,55,3.33,0.01,0.01,5.75,3.58,3.71,10.08,7.58,2.29,...,0.88,0.67,0.92,0,1,20.761246,0,1,1,0
3,40,3.67,0.05,0.05,4.17,2.50,4.00,13.42,10.58,1.88,...,0.79,1.08,0.75,0,0,25.711662,0,1,0,1
4,40,3.58,0.04,0.04,5.00,3.08,3.33,7.67,3.08,2.58,...,0.67,0.58,0.92,0,0,24.973985,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,50,2.96,0.00,0.01,5.08,3.00,4.13,5.92,1.29,2.63,...,0.96,0.58,0.92,0,1,21.484375,0,1,0,1
49996,30,3.33,0.05,0.04,4.67,3.21,3.71,6.67,6.00,2.25,...,1.08,1.21,0.75,1,1,24.221453,0,1,0,1
49997,20,3.54,0.05,0.05,5.21,3.13,3.96,6.54,11.92,1.96,...,1.46,1.46,2.92,0,1,23.875115,0,1,0,1
49998,60,2.96,0.00,0.00,4.92,3.25,3.92,7.88,5.75,2.58,...,0.79,0.67,1.04,1,0,17.578125,1,0,0,1
49999,45,4.00,0.05,0.04,5.63,3.54,4.17,8.75,4.88,2.75,...,1.17,1.71,2.58,1,1,27.681661,0,1,1,0

In [4]:
X = df.drop(columns=['smoking'])
y = df['smoking'].copy()

In [5]:
seed = 42

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=seed, stratify=y)

In [8]:
X_train

,age,waist(cm),eyesight(left),eyesight(right),systolic,relaxation,fasting blood sugar,Cholesterol,triglyceride,HDL,...,serum creatinine,AST,ALT,Gtp,dental caries,BMI,gender_F,gender_M,tartar_N,tartar_Y
8319,55,3.54,0.00,0.04,5.46,3.71,4.13,9.13,2.00,3.79,...,0.04,1.00,1.13,2.04,0,23.875115,0,1,1,0
7833,60,3.25,0.01,0.00,4.38,2.58,4.08,9.96,3.42,2.50,...,0.01,1.21,1.13,3.17,0,22.892820,1,0,1,0
27390,55,3.09,0.05,0.04,4.92,2.75,4.17,9.50,14.83,1.96,...,0.00,1.50,1.29,1.71,1,22.222222,1,0,0,1
44413,40,3.13,0.04,0.04,5.21,2.83,3.50,8.75,3.92,1.67,...,0.04,0.79,0.79,1.08,1,23.875115,0,1,0,1
24218,40,2.92,0.04,0.05,4.79,2.79,3.96,6.46,2.17,1.83,...,0.00,0.67,0.38,0.33,0,19.531250,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48892,40,3.42,0.04,0.04,5.38,3.13,4.75,7.96,3.25,1.96,...,0.00,0.75,0.50,0.88,0,27.055151,1,0,0,1
25727,55,3.25,0.00,0.00,4.92,3.00,4.50,9.50,3.63,2.79,...,0.04,0.88,0.63,0.96,0,20.811655,1,0,1,0
18911,75,3.42,0.01,0.04,4.67,2.54,6.79,5.25,2.33,2.08,...,0.04,1.29,0.96,1.21,0,21.484375,0,1,1,0
25680,40,3.00,0.04,0.00,4.67,3.25,3.75,9.17,2.83,2.38,...,0.00,0.88,0.92,0.67,0,20.000000,1,0,1,0
43737,45,3.88,0.04,0.04,4.92,3.08,3.71,7.21,5.63,2.50,...,0.04,0.63,0.58,1.71,0,33.298647,0,1,0,1

In [9]:
X_test

,age,waist(cm),eyesight(left),eyesight(right),systolic,relaxation,fasting blood sugar,Cholesterol,triglyceride,HDL,...,serum creatinine,AST,ALT,Gtp,dental caries,BMI,gender_F,gender_M,tartar_N,tartar_Y
28092,30,3.75,0.04,0.04,4.71,3.33,10.67,8.54,5.88,2.25,...,0.01,0.67,1.13,2.17,1,26.122449,0,1,0,1
46589,60,3.54,0.01,0.04,5.17,3.42,4.50,8.71,8.71,1.79,...,0.04,0.92,1.04,1.08,0,23.875115,0,1,0,1
130,45,3.25,0.04,0.04,5.33,3.67,4.17,8.42,2.96,3.04,...,0.00,1.13,0.58,0.92,1,21.484375,1,0,0,1
33481,40,3.17,0.01,0.04,4.58,2.71,3.83,7.88,3.33,2.67,...,0.00,1.04,0.88,1.17,1,20.811655,1,0,0,1
34477,45,2.75,0.04,0.04,4.17,2.50,3.42,6.17,2.50,2.08,...,0.01,0.88,0.50,0.79,1,19.531250,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27265,35,3.05,0.04,0.04,4.58,2.50,4.08,6.83,5.42,2.25,...,0.04,0.83,0.88,0.58,0,23.148148,0,1,0,1
47956,20,3.21,0.04,0.05,5.00,3.33,3.54,8.13,2.92,2.75,...,0.04,1.13,0.71,1.29,0,20.202020,0,1,1,0
22181,50,3.79,0.00,0.00,5.00,3.25,3.96,7.08,4.88,1.92,...,0.01,1.00,0.46,2.83,1,24.489796,0,1,0,1
27516,35,3.25,0.01,0.01,4.92,3.54,3.79,8.63,2.38,2.38,...,0.01,3.33,2.42,1.71,0,22.491349,0,1,0,1
9154,70,3.13,0.01,0.04,5.79,3.50,3.54,7.17,2.96,1.63,...,0.01,0.96,0.58,0.63,1,19.531250,0,1,0,1

In [10]:
y_train

8319     1
7833     0
27390    0
44413    1
24218    0
        ..
48892    0
25727    0
18911    0
25680    0
43737    1
Name: smoking, Length: 35000, dtype: int64

In [11]:
y_test

28092    1
46589    0
130      1
33481    0
34477    0
        ..
27265    0
47956    1
22181    1
27516    1
9154     0
Name: smoking, Length: 15000, dtype: int64

Elegi el modelo XGBoost.

In [12]:
# %pip install xgboost

In [13]:
from xgboost import XGBClassifier
from sklearn.metrics import (
    accuracy_score
)

In [14]:
params = {
    "n_estimators": 500,
    "eta": 0.03,
    "max_depth": 4,
    "min_child_weight": 7,
    "subsample": 0.6,
    "colsample_bytree": 0.6,
    "gamma": 0.3,
    "reg_alpha": 0.5,
    "reg_lambda": 2,
}

clf = XGBClassifier(**params)

clf.fit(X_train, y_train)

train_pred = clf.predict(X_train)
test_pred = clf.predict(X_test)

print("Train report:")
print(classification_report(y_train, train_pred))
print("-----------------------------------------------------")
print("Test report:")
print(classification_report(y_test, test_pred))

Train report:
              precision    recall  f1-score   support

           0       0.84      0.81      0.83     22170
           1       0.70      0.74      0.72     12830

    accuracy                           0.79     35000
   macro avg       0.77      0.78      0.77     35000
weighted avg       0.79      0.79      0.79     35000

-----------------------------------------------------
Test report:
              precision    recall  f1-score   support

           0       0.83      0.80      0.81      9501
           1       0.67      0.72      0.69      5499

    accuracy                           0.77     15000
   macro avg       0.75      0.76      0.75     15000
weighted avg       0.77      0.77      0.77     15000

In [15]:
accuracy_gap = accuracy_score(y_train, train_pred) - accuracy_score(y_test, test_pred)
print("Accuracy gap between train and test: ", accuracy_gap)

Accuracy gap between train and test:  0.01860000000000006

Tenemos un Gap de accuracy entre train y test muy bajo (0.018 = 1.8%), lo que indica que el modelo no estaria haciendo overfitting (O en todo caso, es uno bastante bajo).

En la parte del EDA pudimos ver como el dataset tiene bastante desbalance entre clases por lo que podria generar la diferencia entre 0 y 1 tanto en train como en test.

```
percetage of smokers: 36.66%
percentage of non-smokers: 63.34%
```

Tambien podria haber datos poco informativos en el dataset que podrian no aportar valor al modelo y generar ruido (Esto se podria solucionar por ejemplo trabajando en conjunto con algun especialista).

Decido quedarme con este modelo ya que tiene un buen rendimiento tanto en train como en test, y el gap entre ambos es bajo. Si bien no tiene un accuracy que me hubiera gustado que sea un poco mas alto, es un buen modelo y supera al baseline de gender/fumadores (aprox 63% de accuracy) y mi modelo tiene un accuracy de 77%.

In [16]:
import pickle

In [17]:
with open("./models/xgboost_smoking_model.pkl", "wb") as f:
  pickle.dump(clf, f)